.furigana-generator-exclusion-list-textarea {
	width: 100%;
	min-height: 120px;
}
.furigana-generator-warning-text {
	color: var(--text-warning);
}

.furigana-generator-custom-exclusion-textarea {
	min-height: 8em;
	width: 100%;
}

.furigana-generator-donation-div {
	text-align: center;
}

.furigana-generator-bmc-image {
	height: 50px;
}

body.furigana-hover-hide ruby rt {
	visibility: hidden;
	opacity: 0;
}

body.furigana-hover-hide ruby:hover rt {
	visibility: visible;
	opacity: 1;
}
